**/__pycache__/
.cache/
.coverage
.pytest_cache/
*/*~
*.#*
*#
*~
docs/_build
/build
/dist
/env
/*.egg-info
.vscode/
.mypy_cache/
.idea/
.env
.env.before-chainstrap-test
contrib/electrumx.env
.venv-monitor/
network-observer.sqlite3
.secrets/
tls/
test_get_ops.py
test_address.py
test_advance.py
monitor.sqlite3
